/* Base CSS */
html {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(194,194,194,1) 150%);
  background-attachment: fixed;
}

textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

input, button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 0px solid transparent;
  border-radius: 5px;
  text-align: center;

  background-color: gainsboro;
  transition: all ease-in-out 0.1s;
}

input:hover {
  transition: all ease-in-out 0.1s;
}

/* Class Specific CSS */

#title {
  color: white;
  text-align: center;
}

#linkInput {
  color: white;
  text-align: center;
}

#linkHandler {
  color: white;
  text-align: center;
}

#credit {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;

  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 11px;
  background-color: gainsboro;
  border-radius: 30px;
  
  cursor: default;
  transition: all ease-in-out 0.1s;
}

#credit:hover {
  cursor: pointer;
  
  color: white;
  background-color: #333333;
  transition: all ease-in-out 0.1s;
}

#submitButton:hover {
  background-color: #adedc0;
}

#runButton:hover {
  background-color: lightcoral;
}

#saveButton:hover {
  background-color: lightskyblue;
}

#loadButton:hover {
  background-color: lightsalmon;
}

/* Keyframes */
.text-shadow {
  text-shadow: 5px 5px 10px grey;
}

.line {
  border-bottom: 3px dashed white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.altLine {
  border-top: 3px dashed white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}