/* Base CSS */

html {
    height: 100%;
    width: 100%;
    font-family: Verdana;
    background: radial-gradient(circle, rgba(205,205,205,1) 0%, rgba(131,131,131,1) 100%);
}

/* Other CSS */

.title {
    text-align: center;
    color: white;
    font-size: 50px;
}

.basicText {
    text-align: center;
    color: white;
    font-size: 20px;
}

.basicButton {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 0px;
    margin-top: 10px;
    border-radius: 5px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Specific CSS */

#urlTextArea {
    color: black;
    width: 400px;
    height: 25px;
    margin-top: -10px;
    border-radius: 5px;
    resize: none;
    border: 0px;
}

#appList {
    color: black;
    width: 800px;
    height: 400px;
    margin-top: -10px;
    border-radius: 5px;
    resize: none;
    border: 0px;
    text-align: center;
    font-size: 15px;
}

#appListTitle {
    border-top: 4px dashed white; 
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 30px;
}

#footer {
    font-size: 15px; 
    border-bottom: 4px dashed white; 
    padding-top: 30px; 
    padding-bottom: 5px;

    bottom: 0%;
    width: 100%;
}

/* Graphics & Lines */

.line {
    border-bottom: 4px dashed white; 
    padding-bottom: 40px;
}

/*  Animations  */

.textShadow {
    animation: text-shadow-drop-br 0.6s both;
}

@keyframes text-shadow-drop-br {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
    }
  }
  